* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block;
    margin: auto;
    width: 320px;
    font-family: arial;
    background: black;
}

header {
    padding: 15px;
    background: #262427;
    text-align: center;
}

header img {
    width: 90px;
    
}

.title {
    padding: 5px;
    font-weight: bold;
    color: #cc9965;
}

.date {
    color: #8d9ca7;
    font-size: 10px;
}

h1 {
    background: #f5ebe0;
    color: #404040;
    font-size: 18px;
    text-align: center;
    padding: 16px;
}

li {
    
    list-style: none;
    background: white;
    border-bottom: 1px dotted #404040;
    padding: 8px;
}

li:last-of-type {
    border-bottom: none;
}

h2 {
    color: #404040;
    font-size: 14px;
    padding: 10px 0 8px 10px;
}

.name {
    color: #404040;
    font-size: 10px;
    padding-left: 10px;
    padding-bottom: 8px;
}

.time {
    color: #404040;
    font-size: 10px;
    font-weight: bold;
    padding-left: 10px;
    padding-bottom: 8px;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
    padding: 15px 0;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}


a:nth-of-type(1){
    background: #f1e4d5;
    color: #262427;
}

a:nth-of-type(2){
    background: #e7ab47;
    color: white;
}

a:nth-of-type(3){
    background: #68470c;
    color: white;
}

a:nth-of-type(4){
    background: #cc9965;
    color: white;
}


footer {
    background: #262427;
    color: white;
}

.location {
    font-size: 14px;
    font-weight: bold;
    padding: 30px 0 0 20px;
}

.address {
    font-size: 11px;
    font-style: italic;
    padding: 20px;
}

@media (min-width: 640px){

body {
    width: 640px;
}

article {
    background: #262427;
}

h1 {
    display: flex;
    justify-content: center;
    width: 640px;
}

li {
    width: 320px;
}

header {
    width: 320px;
    float: right;
    position: relative;
    top: 217px;
    left: 0px;
}

nav {
    width: 320px;
    float: right;
    position: relative;
    top: -734px;
    left: 0px;
}
}

@media (min-width: 900px){

body {
    width: 900px;
    }
  

article {
    background: #262427;
    }

h1 {
    display: flex;
    justify-content: center;
    width: 900px;
}

li {
    width: 450px;
}

header {
    width: 450px;
    float: right;
    position: relative;
    top: 217px;
    left: 0px;
}

nav {
    width: 250px;
    float: right;
    position: relative;
    top: -718px;
    left: -200px;
}

footer {
    width: 200px;
    float: right;
    position: relative;
    top: -718px;
    left: 250px;
    height: 187px;
}
}